body {
    margin: 2%;
    padding: 5px 0 5px 5px;
}
button {
    color: #FFFFFF;
    background-color: #333333;
    border: none;
    font-family: "Space Mono";
    font-size: 15px;
    text-transform: uppercase;
    height: 70px;
    width: 220px;
}
h1 {
    font-family: "Space Mono";
    font-size: 64px;
}
p {
    font-family: "Space Mono";
    font-size: 27px;
    width: 67%;
}
footer p {
    color: #333333;
    font-family: "Montserrat";
    font-size: 14px;
    width: 100%;
    margin-top: 7%;
    margin-bottom: 0;
}
img {
    margin: 4% 5% 0;
    width: 37%;
    height: 44%;
}
.first-box {
    color: #333333;
    font-family: "Inconsolata";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.08em;
    text-transform: uppercase; 
    width: 100%;
}

.second-box {
    display: inline-block;
    margin: 0;
}

.third-box {
    position: relative;
    text-align: center;
}
.content {
    width: 50%;
    float: right;
}

@media screen and (max-width: 600px) {
    body {
    width: 77%;
    padding: 0;
   }
  .content {
   display: inline-block;
   float: none;
   padding-left: 3%;
/*    padding: 0 2% 0 3%; */
   width: 100%;
  }
  .first-box {
    font-weight: 600;
  }
  img {
    width: 125%;
    padding: 8%;
  }
  h1 {
/*     font-size: 37px; */
    width: 100%;
/*     font-size: 40px; */
  }
  p {
/*     font-size: 15px; */
    padding-bottom: 5%;
    width: 100%;
  }
  footer p {
    position: absolute;
    top: 40px;
    left: 67px;
  }
}
