* {
margin: 0;
padding: 0;
}

img {
display: inline-block;
max-width: 100%;
width: 539.22px;
height: 447.43px;
}
.main-container {
display: flex;
justify-content: center;
padding-top: 88px;
justify-content: space-around;
}
.header {
color: #333333;
font-family: Inconsolata;
font-size: 20px;
font-weight: bold;
letter-spacing: -0.08em;
text-transform: uppercase;
padding-left: 45px;
}
.content p{
font-family: Space Mono;
font-size: 24px;
width: 385px;
height: 108px;
padding-bottom: 67px;
}
.content h1{
font-family: Space Mono;
font-size: 64px;
width: 590px;
height: 190px;
padding-bottom: 37px;
}
.btn p {
display: inline-block;
color: #FFFFFF;
font-size: 15px;
text-transform: uppercase;
width: 214px;
height: 30px;
padding: 10px 3px 5px 3px;
}
.btn {
background-color: #333333;
border: none;
height: 70px;
width: 220px;
}
.copyright {
color: #333333;
font-family: Montserrat;
font-size: 14px;
margin-top: 70px;
text-align: center;
}
@media only screen and (max-width: 600px) {
    .main-container {
        display: block; 
    }
/*       img {
        text-align: center;
        height: 400px;
    }  */
    .content h1 {
        width: 500px;
    }
    
    .copyright {
       
        width: 165%;
    } 
}
