* {
    margin: 0;
    padding: 0;
}

button {
    color: #FFFFFF;
    background-color: #333333;
    border: none;
    font-family: Space Mono;
    font-size: 15px;
    height: 70px;
    text-transform: uppercase;
    width: 220px;
}

img {
    display: inline-block;
    /* max-width: 100%;
    width: 539.22px; */
    height: 447.43px;
}

.main-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 88px;
    justify-content: space-around;
}

.header {
    color: #333333;
    font-family: Inconsolata;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    padding-left: 45px;
}

.content p{
    font-family: Space Mono;
    font-size: 24px;
    width: 385px;
    height: 108px;
    padding-bottom: 67px;
}

.content h1{
    font-family: Space Mono;
    font-size: 64px;
    width: 590px;
    height: 190px;
    padding-bottom: 37px;
}

.copyright {
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    margin-top: 70px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .main-container {
        flex-direction: column; 
        text-align: left;
        padding-left: 30px;
        margin: auto;
    }
    img {
        width: 535px;
        height: 450px;
    }
    .content button {
        position: inline-block;
        line-height: 2px;
        width: 115%;
        height: 113px;
    }
    .content h1 {
        font-size: 73px;
        padding-top: 90px ;
        width: 550px;
    }
    .content p { 
        padding: 56px 0;
/*         font-size: 24px; */
        width: 495px;
    }
    .copyright {
        width: 150%;
        padding: 80px 35px 20px 30px;
    } 
}
